<div class="footer">
  <div class="area">
    <div class="prefecture">
      <div class="prefecture-head">
        <p>北海道・東北地方</p>
      </div>
      <div class="prefecture-list">
        <li><%= link_to '北海道', '/posts/prefecture/2'%></li>
        <li><%= link_to '青森県', '/posts/prefecture/3'%></li>
        <li><%= link_to '岩手県', '/posts/prefecture/4'%></li>
        <li><%= link_to '宮城県', '/posts/prefecture/5'%></li>
        <li><%= link_to '秋田県', '/posts/prefecture/6'%></li>
        <li><%= link_to '山形県', '/posts/prefecture/7'%></li>
        <li><%= link_to '福島県', '/posts/prefecture/8'%></li>
      </div>
    </div>
    <div class="prefecture">
      <div class="prefecture-head">
        <p>関東地方</p>
      </div>
      <div class="prefecture-list">
        <li><%= link_to '茨城県', '/posts/prefecture/9'%></li>
        <li><%= link_to '栃木県', '/posts/prefecture/10'%></li>
        <li><%= link_to '群馬県', '/posts/prefecture/11'%></li>
        <li><%= link_to '埼玉県', '/posts/prefecture/12'%></li>
        <li><%= link_to '千葉県', '/posts/prefecture/13'%></li>
        <li><%= link_to '東京都', '/posts/prefecture/14'%></li>
        <li><%= link_to '神奈川県', '/posts/prefecture/15'%></li>
      </div>
    </div>
    <div class="prefecture">
      <div class="prefecture-head">
        <p>中部地方</p>
      </div>
      <div class="prefecture-list">
        <li><%= link_to '新潟県', '/posts/prefecture/16'%></li>
        <li><%= link_to '富山県', '/posts/prefecture/17'%></li>
        <li><%= link_to '石川県', '/posts/prefecture/18'%></li>
        <li><%= link_to '福井県', '/posts/prefecture/19'%></li>
        <li><%= link_to '山梨県', '/posts/prefecture/20'%></li>
        <li><%= link_to '長野県', '/posts/prefecture/21'%></li>
        <li><%= link_to '岐阜県', '/posts/prefecture/22'%></li>
        <li><%= link_to '静岡県', '/posts/prefecture/23'%></li>
        <li><%= link_to '愛知県', '/posts/prefecture/24'%></li>
      </div>
    </div>
    <div class="prefecture">
      <div class="prefecture-head">
        <p>近畿地方</p>
      </div>
      <div class="prefecture-list">
        <li><%= link_to '三重県', '/posts/prefecture/25'%></li>
        <li><%= link_to '滋賀県', '/posts/prefecture/26'%></li>
        <li><%= link_to '京都府', '/posts/prefecture/27'%></li>
        <li><%= link_to '大阪府', '/posts/prefecture/28'%></li>
        <li><%= link_to '兵庫県', '/posts/prefecture/29'%></li>
        <li><%= link_to '奈良県', '/posts/prefecture/30'%></li>
        <li><%= link_to '和歌山県', '/posts/prefecture/31'%></li>
      </div>
    </div>
    <div class="prefecture">
      <div class="prefecture-head">
        <p>中国・四国地方</p>
      </div>
      <div class="prefecture-list">
        <li><%= link_to '鳥取県', '/posts/prefecture/32'%></li>
        <li><%= link_to '島根県', '/posts/prefecture/33'%></li>
        <li><%= link_to '岡山県', '/posts/prefecture/34'%></li>
        <li><%= link_to '広島県', '/posts/prefecture/35'%></li>
        <li><%= link_to '山口県', '/posts/prefecture/36'%></li>
        <li><%= link_to '徳島県', '/posts/prefecture/37'%></li>
        <li><%= link_to '香川県', '/posts/prefecture/38'%></li>
        <li><%= link_to '愛媛県', '/posts/prefecture/39'%></li>
        <li><%= link_to '高知県', '/posts/prefecture/40'%></li>
      </div>
    </div>
    <div class="prefecture">
      <div class="prefecture-head">
        <p>九州・沖縄地方</p>
      </div>
      <div class="prefecture-list">
        <li><%= link_to '福岡県', '/posts/prefecture/41'%></li>
        <li><%= link_to '佐賀県', '/posts/prefecture/42'%></li>
        <li><%= link_to '長崎県', '/posts/prefecture/43'%></li>
        <li><%= link_to '熊本県', '/posts/prefecture/44'%></li>
        <li><%= link_to '大分県', '/posts/prefecture/45'%></li>
        <li><%= link_to '宮崎県', '/posts/prefecture/46'%></li>
        <li><%= link_to '鹿児島県', '/posts/prefecture/47'%></li>
        <li><%= link_to '沖縄県', '/posts/prefecture/48'%></li>
      </div>
    </div>
  </div>
</div>