<%= render "shared/header" %>
<div class="chat-container">
  <div class ="chat-title">
    <h1><%= @user.nickname %>さんにメッセージを送る</h1>
  </div>
  <div class="chat-row">
    <div class="message-area">
      <div class="col-xs-6">
        <!-- meassage tableは変えない -->
        <table class="message table">
          <thead>
            <tr>
              <th style="text-align: left; font-size: 20px;"><%= current_user.nickname %></th>
              <th style="text-align: right; font-size: 20px;"><%= @user.nickname %></th>
            </tr>
          </thead>
          <% @chats.each do |chat| %>
            <% if chat.user_id == current_user.id %>
            <tbody>
              <tr>
                <th>
                  <p class="chat-message-left"><%= chat.message %></p>
                  <p class="chat-time-left"> <%= time_ago_in_words(chat.created_at) %></p>
                </th>
                <th></th>
              </tr>
            <% else %>
              <tr>
                <th></th>
                <th>
                  <p class= "chat-message-right"><%= chat.message %></p>
                  <p class="chat-time-right" > <%= time_ago_in_words(chat.created_at) %></p>
                </th>
              </tr>
            </tbody>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div>
      <%= form_with model: @chat, remote: true do |f| %>
      <div class="chat-form">
        <%= f.text_field :message, class:"message-form" %>
        <%= f.hidden_field :room_id %>
        <%= f.submit "SEND", class:"btn btn-sm btn-success chat-btn" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>