<%= render "shared/header" %>
<div class="main">
  <div class ="main-left">
  </div>
  <div class="main-center">
    <div class="contents-row">
      <div class="main-post">
        <div class = "recent-post">
          <h1>POST</h1>
        </div>
        <% @posts.each do |post| %>
          <div class="content-post" style="background-image: url(<%= post.images %>);">
            <div class ="main-show-image">
              <%= link_to post_path(post.id), method: :get, class:"main-show" do %>
                <li class="post-image"><%= image_tag post.images[0].variant(resize: '300x300')%></li>
              <% end %>
              <p><%= post.title %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main-right">
  </div>
</div>
<%= render "shared/footer" %>