<%= render "shared/header" %>
<div class="post-search">
  <%= form_with url: search_posts_path, local: true, method: :get do |form| %>
    <%= form.text_field :keyword, placeholder: "投稿を検索する", class:"search-form" %>
    <%= form.submit "検索", class:"search-input" %>
  <% end %>
</div>
<div class="main">
  <div class="main-center">
    <div class="contents-row">
      <div class="main-post">
        <div class = "recent-post">
          <h1>POST</h1>
        </div>
        <div id = "posts_index"><%= render "shared/post_index" %></div>
        <div class="more-post">
          <div class="more"><%= link_to_next_page @posts, 'もっと見る', remote: true, id: 'view_more' %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-right">
    <div class="rank-title">
      <h1>Post Ranking</h1>
    </div>
      <% @likeposts.each do |likepost|%>
        <%= link_to post_path(likepost.id), method: :get, class:"rank-show" do %>
          <%= image_tag likepost.images[0].variant(resize: '150x150')%>
          <p><%= likepost.title%></p>
          <div class="rank-iine">
            <p>♡<%= likepost.likes_count %></p>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
<%= render "shared/footer" %>