<%= render "shared/header" %>
<div class="main">
  <div class ="main-left">
  </div>
  <div class="main-center">
    <div class="contents-row">
      <div class="main-post">
        <div class = "recent-post">
          <h1>POST</h1>
        </div>
        <% @posts.each do |post| %>
          <%= link_to post_path(post.id), method: :get, class:"main-show" do %>
            <div class="content-post" style="background-image: url(<%= post.images %>);">
              <div class ="show-images">
                <% post.images.each do |image| %>
                  <li><%= image_tag image.variant(resize: '300x300') , class: 'post-image' %></li>
                <% end %>
              </div>
              <p><%= post.title %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main-right">
  </div>
</div>