<%= render "shared/header" %>
<div class="main">
  <div class ="main-left">
  </div>
  <div class="main-center">
    <div class="contents-row">
      <div class="main-post">
        <div class = "recent-post">
          <h1>最近の投稿一覧</h1>
        </div>
        <% @posts.each do |post| %>
          <%= link_to post_path(post.id), method: :get, class:"main-show" do %>
            <div class="content-post" style="background-image: url(<%= post.image %>);">
              <%= image_tag post.image.variant(resize: '300x300') , class: 'post-image' %>
              <p><%= post.title %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main-right">
  </div>
</div>