<%= render "shared/header" %>

<p class ="show-name"><%= link_to (@post.user.nickname + "さんの投稿"), user_path(@post.user.id) %></p>
<div class = "post-show">
  <div class="show-image">
    <div class ="show-images">
      <% @post.images.each do |image| %>
        <%= image_tag image.variant(resize: '500x500') %>
      <% end %>
    </div>
  </div>
  <div class ="show">
    <p class="show-title">
    <%= @post.title %>
    <% if user_signed_in? && current_user.id == @post.user.id %>
      <%= link_to (image_tag ("setting.png"), :size => '30x30'), edit_post_path(@post.id), method: :get %>
      <%= link_to (image_tag ("trash.png"), :size => '30x30'), post_path(@post.id), method: :delete %>
    <% end %>
    </p>
    <div class = "show-text-prefecture">
      <p class = "show-text"><%= @post.text %></p>
      <p class="show-prefecture"><%= @post.prefecture.name %></p>
      <p class ="show-time"><%= time_ago_in_words(@post.created_at) %></p>
    </div>
    <%= render "likes/like", post: @post %>
    <p class="show-user-link"><%= link_to (@post.user.nickname + "さんのページを見る"), user_path(@post.user.id) %></p>
  </div>
</div>
<div class="comments">
  <h4>コメント一覧</h4>
  <% @comments.each do |comment| %>
  <p>
    <strong class="comment-user-name"><%= link_to comment.user.nickname, user_path(comment.user.id) %></strong>
    <%= comment.text %>
    <%= time_ago_in_words(comment.created_at) %>
  </p>
  <% end %>
</div>
<div class ="post-comment">
  <div class="comment">
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :text, placeholder: "コメントする（140文字以内）", rows: "4", class:"comment-form" %>
      <%= f.submit "SEND", class:"comment-send" %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>